# Pandas Tutorial

In [49]:
import pandas as pd

In [50]:
#check pandas version
print(pd.__version__)

2.2.0

# Series create, manipulate, query, delete

In [51]:
# creating a series from a list
arr = [0, 1, 2, 3, 4]
s1 = pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [52]:
order = [1, 2, 3, 4, 5]
s2 = pd.Series(arr, index=order)
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [53]:
import numpy as np
n=np.random.randn(5) # Create a random Ndarray
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(n, index=index)
s2

a   -0.110691
b   -0.137092
c    0.128650
d    1.464105
e   -1.006097
dtype: float64

In [54]:
#create series from dictionary
d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
s3 = pd.Series(d)
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [55]:
#you can modify the index of series
print(s1)
s1.index = ['A', 'B', 'C', 'D', 'E']
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [56]:
# slicing
a=s1[:3]
a

A    0
B    1
C    2
dtype: int64

In [57]:
s4 = pd.concat([s1, s3])
s4

A    0
B    1
C    2
D    3
E    4
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [58]:
s4.drop('e')

A    0
B    1
C    2
D    3
E    4
a    1
b    2
c    3
d    4
dtype: int64

# Series Operations

In [59]:
arr1 = [0,1,2,3,4,5,7]
arr2 = [6,7,8,9,5]

In [60]:
s5 = pd.Series(arr2)
s5

0    6
1    7
2    8
3    9
4    5
dtype: int64

In [61]:
s6 = pd.Series(arr1)
s6

0    0
1    1
2    2
3    3
4    4
5    5
6    7
dtype: int64

In [62]:
s5.add(s6)

0     6.0
1     8.0
2    10.0
3    12.0
4     9.0
5     NaN
6     NaN
dtype: float64

In [63]:
s5.sub(s6)

0    6.0
1    6.0
2    6.0
3    6.0
4    1.0
5    NaN
6    NaN
dtype: float64

In [70]:
s7 = s5.mul(s6)
s7

0     0.0
1     7.0
2    16.0
3    27.0
4    20.0
5     NaN
6     NaN
dtype: float64

In [65]:
s5.div(s6)

0     inf
1    7.00
2    4.00
3    3.00
4    1.25
5     NaN
6     NaN
dtype: float64

In [67]:
print('median', s6.median())
print('max', s6.max())
print('min', s6.min())

median 3.0
max 7
min 0

In [71]:
print('median', s7.median())
print('max', s7.max())
print('min', s7.min())

median 16.0
max 27.0
min 0.0

# Create Dataframe

In [73]:
dates = pd.date_range('today', periods  = 6) # Define time sequence as index
dates

DatetimeIndex(['2024-02-04 10:24:47.971590', '2024-02-05 10:24:47.971590',
               '2024-02-06 10:24:47.971590', '2024-02-07 10:24:47.971590',
               '2024-02-08 10:24:47.971590', '2024-02-09 10:24:47.971590'],
              dtype='datetime64[ns]', freq='D')